<html lang="ja">

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" type="text/css" href="static/test.css">
    <title>maru65536_family</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="http://marufamily.tk/">maru65536-family</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://marufamily.tk/login">Login</a>
                    </li>
            </div>
        </div>
    </nav>
    <div class="main">
        <div class="tableContainer">
            {{ ID_count }}垢 {{ user_count }}人<br>
            <table class="table" ,border="1" ,align="center">
                <tbody>
                    <tr>
                        <th>ID</th>
                        <th>rating</th>
			<th>comment</th>
			<th>birthday</th>
                    </tr>
                    {% for ID,rating,is_using,is_hidden,atcoder_id,comment,birthday in data %}
                    {% if is_using and show %}
                    <tr>
                        <td><a href="https://twitter.com/{{ ID[1:] }}">{{ ID }}</a></td>
                        <td><a href="https://atcoder.jp/users/{{ atcoder_id }}">{{ rating }}</a></td>
			<td>{{ comment }}</td>
			<td>{{ birthday }}</td>
                    </tr>
                    {% elif is_using and (not is_hidden or show) %}
                    <tr>
                        <td><a href="https://twitter.com/{{ ID[1:] }}">{{ ID }}</a></td>
                        <td>{{ rating }}</td>
			<td>{{ comment }}</td>
			<td>{{ birthday }}</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="youbo">
        <form action="/youbo" method="post">
            <h4 for="youbo">要望</h4>
            <textarea class="form-control" name="youbo" rows="4" cols="40"></textarea>
            <div class="mt-2">
                <input class="btn btn-primary" type="submit" value="送信">
                <input class="btn btn-secondary" type="reset" value="リセット">
            </div>
        </form>
    </div>
</body>

</html>
