{% extends 'layout.html' %}

{% block title %}Top{% endblock %}

{% block content %}
<div class="main">
    <div class="tableContainer">
        {{ ID_count }}垢 {{ user_count }}人<br>
        <table class="table" ,border="1" ,align="center">
            <tbody>
                <tr>
                    <th>ID</th>
                    <th>rating</th>
                    <th>comment</th>
                    <th>birthday</th>
                </tr>
                {% for ID,rating,is_using,is_hidden,atcoder_id,comment,birthday in data %}
                {% if is_using and show %}
                <tr>
                    <td><a href="https://twitter.com/{{ ID[1:] }}">{{ ID }}</a></td>
                    <td><a href="https://atcoder.jp/users/{{ atcoder_id }}">{{ rating }}</a></td>
                    <td>{{ comment }}</td>
                    <td>{{ birthday }}</td>
                </tr>
                {% elif is_using and (not is_hidden or show) %}
                <tr>
                    <td><a href="https://twitter.com/{{ ID[1:] }}">{{ ID }}</a></td>
                    <td><a href="/users/{{ ID[1:] }}">{{ rating }}</a></td>
                    <td>{{ comment }}</td>
                    <td>{{ birthday }}</td>
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="youbo">
    <form action="/youbo" method="post">
        <h4 for="youbo">要望</h4>
        <textarea class="form-control" name="youbo" rows="4" cols="40"></textarea>
        <div class="mt-2">
            <input class="btn btn-primary" type="submit" value="送信">
            <input class="btn btn-secondary" type="reset" value="リセット">
        </div>
    </form>
</div>
{% endblock %}
